[user]
	email = zach@allotropic.com
	name = Zach Thompson
[alias]
	st = status
[pull]
	rebase = false
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[init]
	defaultBranch = main
[core]
	excludesFile = ~/.gitignore
[color "diff"]
	meta = "#77aaff"
