@-moz-document url(chrome://browser/content/browser.xul),
               url(chrome://browser/content/browser.xhtml) {
  * { font-size: 14px !important; }

  /* Address Bar */
  :root:-moz-lwtheme-brighttext {
    --lwt-toolbar-field-background-color: rgb(0, 0, 0) !important;
    --lwt-toolbar-field-color: rgb(68, 255, 0) !important;
    --lwt-toolbar-field-border-color: rgba(68, 255, 0, 0.47) !important;
    --lwt-toolbar-field-focus: rgba(0, 0, 0, 1) !important;
    --lwt-toolbar-field-focus-color: rgb(68, 255, 0) !important;
    --lwt-toolbarbutton-icon-fill: rgba(68, 255, 0, 0.47) !important;
    --toolbar-bgcolor: rgb(0, 0, 0) !important;
    --chrome-content-separator-color: rgb(0, 0, 0) !important;
  }

  /* Try to get absolute positioned elements to dim.
   * https://stackoverflow.com/questions/6145061/is-there-any-way-\
   * to-have-opacity-apply-to-absolutely-positioned-child-elements-i
   */
  /* div.parentElem * { filter:inherit; } */
}
